.game
  canvas#game-canvas.game__canvas(data-game-id="#{@game.id}", data-player-id="#{current_user.id}")

  table#score-card
    thead
      tr
        th Score
        th ⚔
        th 💀
    tbody

  #death-overlay style="display:none"
    #death-text
    #death-counter
