.games-list {
  list-style: none;
  max-width: 48rem;
  margin: 0 auto;

  &__item {
    border-top: 1px solid $border-color;
    width: 100%;
    padding: 1rem;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }
}

.game__name, .game__status {
  display: inline-block;
  width: 50%;
}

.game__status {
}
